<div class="col-md-3">
    <div class="list-group">
        <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action {% if '/dashboard/' in request.path %}active{% endif %}">
            Dashboard
        </a>
        <a href="#" class="list-group-item list-group-item-action">Posts</a>
        <a href="{% url 'categories' %}" class="list-group-item list-group-item-action {% if '/categories/' in request.path %}active{% endif %}">Categories</a>
        <a href="#" class="list-group-item list-group-item-action">Users</a>
    </div>
</div>